@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  pointer-events: none;
  padding: 120px 24px 160px 24px;
}

.main::before {
  background: radial-gradient(circle, rgba(0, 6, 43, 0), 0, #fafafa 100%);
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

/* .main::after {
  content: "";
  background-image: url("/src/assets/grid.svg");
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
  } */

.gradient {
  height: fit-content;
  z-index: 3;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}

.app {
  @apply z-10 relative flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
}

.btn-github {
  @apply flex items-center gap-2 py-2 px-4 rounded-full bg-black border border-black text-gray-50 font-semibold hover:bg-white hover:text-black transition-all duration-300 ease-out;
}

.input-url {
  @apply w-full pl-10 pr-10 py-2 rounded-md border border-gray-200 shadow-lg focus:border-blue-300 focus:outline focus:outline-blue-200 transition-all duration-300 ease-out text-slate-600;
}

.head-text {
  @apply text-3xl font-bold text-gray-700 text-center;
}

.blue-gradient {
  @apply bg-gradient-to-r from-blue-400 via-blue-600 to-cyan-600 bg-clip-text text-transparent;
}
